/********************
CSS W3BBLOCKS
*********************/
/*Author: Baghor Younes - http://webwizart.be
Twitter: @webwizart*/
/*********************************************/

/********************
Reset
*********************/
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
  p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
  img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
  dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figure, figcaption, hgroup,
  menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
  }
  article, aside, canvas, figure, figure img, figcaption, hgroup,
  footer, header, nav, section, audio, video {
    display: block;}
  a img {border: 0;}
  /* Remove the icon of the Unorderd List*/
  ul li  {
    list-style:none;
    margin-left:15px;
  }
  html{
    width:100%;
  }
  header {
    color :#fff;
    /*background-color: purple;*/
  }
  footer{
    /*background-color: orange;*/
  }

/********************
Typography
*********************/
  html {
    color:#000;
    font-style:italic;
    font-size:16px;
    /*background-color:orange;*/
  }
  h1 {
    color:#0099ff;
    font-size:2.5em;
    font-family: 'Slackey', arial, serif;}
  h2 {
    color:#0099ff;
    font-size:1.5em;
    font-style:italic;
    font-family: 'Syncopate', sans-serif;}

/********************
Links
*********************/
  a {color:#0099ff;}
  a:active {color:#0099ff;}
  a:hover {color:#0099ff;}
  a:visited {color:#0099ff;}

/********************
Selection
*********************/
  ::selection{background: rgb(255,255,158);}
  ::-moz-selection{background: rgb(255,255,158);}
  img::selection{background: transparent;}
  img::-moz-selection{background: transparent;}
  body{-webkit-tap-highlight-color: rgb(255,255,158);}

/********************
 W3bBlocks
********************/
  .w3bblocks{
    width: 100%;
    text-align: center;
    border: 0px solid black;
    display: inline-block;
  }
  ._line{
    width:100%;
    overflow: hidden;
    display:inline-block;
    /*background-color:pink;*/
  }
  ._1_1, ._1_2, ._1_3, ._1_4, ._1_5,
  ._2_3, ._3_4, ._4_5, ._2_5, ._3_5, ._4_5{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    padding: 1%;
    margin-left: -.3em;
    border: 0px solid red;
  }
  ._1_1{
    width:100%;
    /*background-color:pink;*/
  }
  ._1_2{
    width:50%;
    /*background-color:red;*/
  }
  ._1_3{
    width:33.33%;
    /*background-color:lime;*/
  }
  ._2_3{
    width:66.66%;
    /*background-color:lime;*/
  }
  ._1_4{
    width:25%;
    /*background-color:azure;*/
  }
  ._3_4{
    width:75%;
    /*background-color:azure;*/
  }
  ._1_5{
    width:20%;
    /*background-color:orange;*/
  }
  ._2_5{
    width:40%;
    /*background-color:orange;*/
  }
  ._3_5{
    width:60%;
    /*background-color:orange;*/
  }
  ._4_5{
    width:80%;
    /*background-color:orange;*/
  }

  /* For nesting purpose */
  /* Remove all padding for nesting purpose */
  ._padless {
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
  }
  /* Remove padding */
  ._padleft{
    padding-left:0;
  }
  ._padright{
    padding-right:0;
  }
    /* Add padding */
  .padadd {
    padding:1%;
  }
  ._padtop{
    padding-top:4%;
  }
  ._padright{
    padding-right:4%;
  }
  ._padbot{
    padding-bottom:4%;
  }
  ._padleft{
    padding-left:4%;
  }

/********************
 Custom CSS Class
********************/
  .left {
    float:left;
    text-align: left;
 }
  .right {
    float:right;
    text-align:right
  }
  .center {
    margin:0px auto;
    text-align:center;
  }
  img{
    width:100%;
    max-width:100%;
  }


  header {
    background-color: purple;
  }
  footer {
    background-color: orange;
  }


  .logo{
    display:block;
    color:#0099ff;
    font-size:2.5em;
    font-family: 'Slackey', arial, serif;
  }
  .sub-title{
    display:block;
    color:#0099ff;
    font-size:1.5em;
    font-style:italic;
    font-family: 'Syncopate', sans-serif;
  }
  .tetris-block{ width:10%;}
  .download {
    font-size:20px;
    font-style: normal;
  }

/********************
 Box-Sizing
********************/
  /* apply a natural box layout model to all elements */
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/********************
 Media Queries
********************/
 /* MAJOR Media Queries */
    /* Target the first gen smartphones in portrait mode*/
  @media screen and (max-width: 480px) {
    body {
      /*background-color:red;*/
    }
    ._1_1, ._1_2, ._1_3, ._1_4, ._1_5,
    ._2_3, ._3_4, ._4_5, ._2_5, ._3_5, ._4_5 {
      display: block;
      width: 100%;
    }
  }
    /* Target the high-end smartphones and portrait iPads*/
  @media screen and (max-width: 768px) {
    body {
      /*background-color:green;*/
    }
  }
    /* Everything bigger big tabs and desktops*/
  @media screen and (min-width: 768px) {
    body {
      /*background-color:orange;*/
    }
  }

  /* MINOR Nice to have Media Queries */
     /* Trigger tablets, landscape iPads and big tabs*/
  @media screen and (min-width: 768px) and (max-width: 1024px ) {
    body {
      /*background-color:yellow;*/
    }
  }
     /* Desktop bigger then 1024 */
  @media screen and (min-width: 768px) and (max-width: 1024px ) {
    body {
      /*background-color:purple;*/
    }
  }




